
body{
background-color: black;
}
/*--icon styling--*/
h5 img {
    width: 37px;
}
/*--carousel styling of about page--*/
.carousel{
    perspective: 600px;
}
.carousel .carousel-item img
{
    max-width: 100%;
}
.carousel .carousel-item h3
{
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    box-sizing: border-box;
    padding: 10px 5px;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}
.carousel .dark{
    font-size: 20px;
    font-style: italic;
}
/*--responsiveness--*/
@media only screen and (max-width: 630px) {
    /* For mobile phones: */
    img {
      width: 100%;
    }
  }